html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    gap: 0px;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
}

svg {
    width: 20px;
    height: 20px;
}

.header {
    display: grid;
    gap: 0px;
    grid-template-columns: 60% 40%;
}

.main-content {
    height: 95%;
    display: grid;
    gap: 0px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    background-color: salmon;
    grid-row-start: 1;
    grid-row-end: 3;
}

.search-bar-container {
    background-color:lawngreen;
}

.auxiliar-button-container {
    background-color: blueviolet;
}

.main-profile-container {
    background-color: aquamarine;
}

.button-menu-container {
    background-color:goldenrod ;
}

.project-container {
    background-color: olive;
    grid-row-start: 1;
    grid-row-end: 3;
}

.announcement-container {
    background-color:firebrick;
}

.trending-container {
    background-color:violet;
}

.project-container-title {
    height: 3%;
}

.project-grid {
    height: 97%;
    display: grid;
    row-gap: 3%;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
}

.project-item {
    background-color:blanchedalmond ;
    display: flex;
    flex-direction: column;
}

.trending-item {
    display: flex;
    background-color: lightslategrey;
    align-items: center;
    justify-content: center;
}