html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 9% 11% 80% / 2fr 8fr;
}

.sideboard {
    grid-row: 1 / 4;
}

.header {
}

.nav {
}

.content {
    border: 5px solid firebrick;
    display: grid;
    grid-template: 50% 50% / 70% 30%;
}

.projects-container {
    border: 5px solid salmon;
    grid-row: 1 / 3;
}

.announcements-container {
    border: 5px solid aquamarine;
}

.trending-container {
    border: 5px solid palegreen;
}